<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Put me in the [my_project]/ios/Runner/Info.plist file -->
	<!-- Google Sign-in Section -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
				<string>com.googleusercontent.apps.718476022436-l8bjfnrjqbpdup6amcjjmt8g3oijce6s</string>
			</array>
		</dict>
	</array>
	<!-- End of the Google Sign-in Section -->

	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
		<key>CFBundleAlternateIcons</key>
<dict>
    <key>grover</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>grover</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <false/>
    </dict>
    <key>aspen</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>aspen</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <false/>
    </dict>
    <key>rowan</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>rowan</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <false/>
    </dict>
    <key>sakura</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>sakura</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <false/>
    </dict>
    <key>abies</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>abies</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <false/>
    </dict>
    <key>cedite</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>cedite</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <false/>
    </dict>
    <key>ash</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>ash</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <false/>
    </dict>
</dict>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Gr0ve uses the microphone so you can talk to your counselor.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Gr0ve uses speech recognition to transcribe your voice questions.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Gr0ve needs access to your photo library to analyze your school notes for Homework Help.</string>
	<key>NSCameraUsageDescription</key>
	<string>Gr0ve needs access to your camera to take photos of your notes for Homework Help.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Gr0ve</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>gr0ve</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
